* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr, 4fr;
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  grid-column: 1 / 3;
  display:grid;
  grid-template-columns: 1fr  2fr;
  background-color: #393f4d;
  align-items:center;
}

.logo {
  justify-self:start;
}

.menu ul {
  display:grid;
  grid-template-columns: repeat(4, 1fr);
}

.menu ul,
.menu li {
  font-size: 16px;
  list-style-type:none;
}

.sidebar {
  grid-row: 2/4;
  display:grid;
  background-color: #C50208;
  gap:50px;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  grid-column: 2/3;
  background-color: #C50208;
}

.nav ul {
  list-style-type: none;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  grid-column: 2/3;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  grid-column: 1/3;
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}