body,
html {
  height: 100%;
  margin: 0;
}

.container {
  display:grid;
  grid-template-rows: 1fr, 1fr, 5fr, 1fr;
  grid-template-columns: 1fr, 3fr;
  gap:15px;
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #006157;
  grid-column: 1 / 3;
  grid-row: 1 / -1;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  background-color: #005B94;
}

.nav {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  background-color: #642cde;
}

.article {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  background-color: #7E1DC3;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.footer {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  background-color: #393f4d;
}